.browse-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.browse-container h1 {
  font-size: 36px;
  color: #a63ed0;
  margin-bottom: 5px;
}

.browse-container p {
  color: #555;
  margin-bottom: 20px;
}

.search-box {
  width: 50%;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.categories {
  margin-bottom: 25px;
}

.categories button {
  margin: 0 5px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.categories button.active,
.categories button:hover {
  background: linear-gradient(90deg, #8e2de2, #ff0080);
  color: white;
  border: none;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-card {
  background:  #dfd1f7;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  position: relative;
}

.category-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

.bg-it { background-color: #9b5de5; }
.bg-music { background-color: #f15bb5; }
.bg-language { background-color: #00bbf9; }
.bg-design { background-color: #00f5d4; }

.skill-card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.skill-card p {
  margin: 3px 0;
  color: #555;
}

.request-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #8e2de2, #ff0080);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
