.dashboard-layout {
  display: flex;
  background: #f9f9f9;
}

.dashboard-content {
  flex: 1;
  padding: 30px;
}

.dashboard-title {
  color: #8a2be2;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-skill-btn{
  background:linear-gradient(135deg, #8b2cf5, #ec4899);;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.skill-card {
  background: rgba(206, 197, 197, 0.719);
  padding: 20px;
  border-radius: 12px;
}

.tag {
  background: #eee;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.request-card {
  background: rgba(206, 197, 197, 0.719);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accept {
  background: linear-gradient(135deg, #8b2cf5, #ec4899);;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
}

.decline {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 8px;
}
