.sidebar {
  width: 220px;
  background-color: #d38bef;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: white;
  color: #8b2cf5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-icon {
  flex-shrink: 0;
}

.menu-btn:hover {
  background-color: #b963be;
}

.menu-btn.active {
  background-color: #b963be;
}

.logout-btn {
  margin-top: 130px;
  padding: 10px;
  border: none;
  background-color: #a2659e;
  color: rgb(237, 8, 8);
  border-radius: 5px;
  cursor: pointer;
}